.forgetpwd-content {
	width: 100%;
	height: 100%;
	padding-top: 0px!important;
	background: url('../img/background.jpg');
	background-size: 100%;
	/* padding-bottom: 5rem; */
}

.forgetpwd-content section:nth-child(1) {
	width: 100%;
}

.forgetpwd-content section:nth-child(1) .login-logo {
	width: 80px;
	height: 77.83px;
	margin: 0 auto;
	background: url('../img/logo.png');
	background-size: 80px 77.83px;
	margin-top: 40px;
}

/*设置忘记密码输入框*/
.forgetpwd-content section:nth-child(2) {
	margin-top: 50px;
}

.forgetpwd-content section:nth-child(2) .otc_forgetpwd {
	border: none;
}

.forgetpwd-content section:nth-child(2) .otc_forgetpwd .am-list {
	width: 93%;
	margin: 0 auto;
}

.forgetpwd-content section:nth-child(2) .otc_forgetpwd .am-list .am-list-body {
	list-style: none;
	border: none;
	background: none;
	position: inherit;
}
.forgetpwd-content section:nth-child(2) .otc_forgetpwd .am-list .am-list-body>div{
	margin-bottom: 10px;
}
.otc_forgetpwd .am-list-item {
	background: #f5f5f9;
	border: 1px solid #fff;
	border-radius: 5px;
	background: none;
}

.otc_forgetpwd .am-list-item img {
	width: 22px;
	height: 22px;
}

.otc_forgetpwd .am-list label {
	width: 1px;
	background: #fc95b3;
	height: 30px;
	display: inline-block;
	margin-left: 20px;
	vertical-align: middle;
}

.otc_forgetpwd input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #f5f5f9 inset;
}
.otc_forgetpwd .am-list-item.am-input-item{
	height: 3.7rem;
}
/*设置验证码*/

.otc_forgetpwd .otc-code {
	width: 100%;
	height: 3.7rem;
	min-height: 44px;
	overflow: hidden;
	border: 1px solid #fff;
	border-radius: 3.5px;
}

.otc_forgetpwd .otc-code .otc-code-l {
	float: left;
	width: 70%;
}

.otc_forgetpwd .otc-code .otc-code-l .am-list-item {
	border: none;
	border-radius: 0px;
	border-right: none;
}

.otc_forgetpwd .otc-code .otc-code-r {
	float: left;
	width: 29%;
	height: 3.7rem;
	min-height: 44px;
	text-align: center;
	line-height: 3.7rem;
	border-left: 2px solid #fff;
	color: #ccc;
	font-size: 14px;
}



/*设置确定按钮*/
.otc_forgetpwd #otc_but {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3.7rem;
	margin: 0 auto;
	border-radius: 5px;
	font-size: 13px;
	color: #fff;
	background: #e56d48;
	border: none;
}

.otc_forgetpwd #otc_but div {
	text-align: center;
	color: #FFFFFF;
	font-size: 13px;
	letter-spacing: 5px;
}
.forgetpwd-content .am-list-item .am-input-control input{
	font-size: 14px;
}
.forgetpwd-content .am-list-item .am-input-label.am-input-label-5{
	width: 25px;
	color: #fff;
}

.forget-backlogin{
	text-align: center;
    width: 100%;
	margin-top: 10px;
}

.forget-backlogin a{
	color: #fff;
	font-size: 12px;
}
.forget-backlogin a .icon{
	margin-right: 5px;
	font-size: 12px;
}